<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <!-- Welcome file configuration to open home.jsp by default -->
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>  <!-- This will make home.jsp the default page -->
    </welcome-file-list>
</web-app>